button {
    cursor: pointer;
}

input {
    display: block;
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.domain-blacklist-item > span {
    margin-left: 10px;
}

.wrapper {
    margin: 10px;
}
