.reading_time_element {
  background-color: black;
  border-radius: 5px;
  bottom: 20px;
  box-shadow: 0px 0px 20px black;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-family: "Arial";
  font-size: 30px;
  line-height: 1.2;
  margin: 0;
  opacity: 0.85;
  padding: 15px;
  position: fixed;
  right: 20px;
  text-align:center;
  transition: box-shadow 0.5s;
  width: 4.6em;
  z-index: 99999;
}

.reading_time_element:hover span { display: none; }

.reading_time_element:hover { box-shadow: none; }

.reading_time_element:hover:before {
  color: #777;
  content: "X";
  font-weight: bold;
}
