.reading_time_element {
  background-color: black;
  bottom: 20px;
  box-shadow: 0px 0px 20px black;
  color: white;
  cursor: pointer;
  font-family: "Arial";
  font-size: 30px;
  margin: 0;
  opacity: 0.85;
  padding: 15px;
  position: fixed;
  right: 20px;
  text-align:center;
  z-index: 99999;
}

.reading_time_element_exit {
  color: #777;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 4px;
  text-align: right;
  top: 0;
}
